{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://api.refit.my"}],"tags":[{"name":"Test API","description":"개발용 테스트 API입니다."},{"name":"Test Auth/User API","description":"개발용 테스트 인증/인가 API입니다."},{"name":"Auth Controller","description":"인증 관련 API 입니다."},{"name":"Company API","description":"회사 관련 API 입니다."},{"name":"Dashboard API","description":"대시보드 화면에서 사용하는 API 입니다."},{"name":"Google OAuth API","description":"구글 OAUth 인증 관련 API 입니다."},{"name":"Industry API","description":"산업군 관련 API 입니다."},{"name":"Interview API","description":"면접 기록 및 면접 회고 작성 관련 API 입니다."},{"name":"Interview My API","description":"면접 아카이브 데이터와 관련된 API 입니다."},{"name":"Job Category API","description":"직무 관련 API 입니다."},{"name":"QnA Set API","description":"질문 답변 세트 관련 API 입니다."},{"name":"Qna Set My Controller","description":"나의 질문 아카이브 데이터와 관련된 API 컨트롤러 입니다."},{"name":"Scrap Folder API","description":"스크랩 폴더 관련 API 입니다."},{"name":"User API","description":"유저와 관련된 API 입니다."}],"paths":{"/user/my":{"get":{"tags":["User API"],"summary":"현재 로그인한 유저의 기본 정보를 조회합니다.","operationId":"getMyProfileInfo","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMyProfileResponse"}}}}}},"put":{"tags":["User API"],"summary":"사용자 프로필을 수정합니다.","operationId":"updateMyProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MyProfileUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/scrap-folder/{scrapFolderId}/qna-set/{qnaSetId}":{"put":{"tags":["Scrap Folder API"],"summary":"주어진 스크랩 폴더에 지정한 질문 답변 세트를 추가합니다.","description":"이미 추가된 상태인 경우 아무 일도 발생하지 않습니다.","operationId":"addQnaSetToScrapFolder","parameters":[{"name":"qnaSetId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"scrapFolderId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"delete":{"tags":["Scrap Folder API"],"summary":"주어진 스크랩 폴더에서 지정한 질문 답변 세트를 제거합니다.","description":"이미 제거된 상태인 경우 아무 일도 발생하지 않습니다.","operationId":"removeQnaSetFromScrapFolder","parameters":[{"name":"qnaSetId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"scrapFolderId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/qna-set/{qnaSetId}":{"put":{"tags":["QnA Set API"],"summary":"지정한 질문 답변 세트의 질문 답변 내용을 수정합니다.","description":"질문 답변 내용 수정은 질답 세트 검토 중 상태에서만 가능합니다.","operationId":"updateQnaSet","parameters":[{"name":"qnaSetId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QnaSetUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"delete":{"tags":["QnA Set API"],"summary":"지정한 질문 답변 세트를 삭제합니다.","description":"질문 답변 세트 삭제는 질답 세트 검토 중 상태에서만 가능합니다.","operationId":"deleteQnaSet","parameters":[{"name":"qnaSetId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/qna-set/{qnaSetId}/self-review":{"put":{"tags":["QnA Set API"],"summary":"지정한 질문 답변 세트의 회고 내용을 수정합니다.","description":"질문 답변 내용 수정은 '회고중' 상태에서만 가능합니다.","operationId":"updateQnaSetSelfReview","parameters":[{"name":"qnaSetId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QnaSetReviewUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/qna-set/{qnaSetId}/pdf-highlighting":{"get":{"tags":["QnA Set API"],"summary":"지정한 질문 답변 세트에 대해 등록된 PDF 하이라이팅 정보를 조회합니다.","operationId":"getPdfHighlightings","parameters":[{"name":"qnaSetId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListPdfHighlightingDto"}}}}}},"put":{"tags":["QnA Set API"],"summary":"지정한 질문 답변 세트에 대해 PDF 하이라이팅 정보를 등록/수정합니다.","description":"PDF 하이라이팅 정보 등록/수정은 질답 세트 검토 중 상태에서만 가능합니다.","operationId":"updatePdfHighlighting","parameters":[{"name":"qnaSetId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PdfHighlightingUpdateRequest"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"delete":{"tags":["QnA Set API"],"summary":"지정한 질문 답변 세트의 PDF 하이라이팅을 모두 삭제합니다.","operationId":"deletePdfHighlighting","parameters":[{"name":"qnaSetId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/interview/{interviewId}/raw-text":{"put":{"tags":["Interview API"],"summary":"면접 기록 데이터를 생성/수정합니다.","description":"질문, 답변으로 변환되기 전 raw 면접 기록 데이터를 수정합니다.","operationId":"updateRawText","parameters":[{"name":"interviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RawTextUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/interview/{interviewId}/kpt-self-review":{"put":{"tags":["Interview API"],"summary":"면접에 대한 KPT 회고를 생성/수정합니다.","operationId":"updateKptSelfReview","parameters":[{"name":"interviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KptSelfReviewUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/user/signup":{"post":{"tags":["User API"],"summary":"새롭게 회원가입 합니다.","description":"현재 로그인한 계정이 아직 등록되지 않은 상태일 때만 회원가입 할 수 있습니다. 회원가입이 성공하면 토큰을 새로 발급합니다.","operationId":"signUp","parameters":[{"name":"originType","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSignUpRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/user/my/terms/agree":{"post":{"tags":["User API"],"summary":"이용 약관에 동의합니다.","operationId":"agreeToTerms","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/test/user/test-embedding":{"post":{"tags":["Test API"],"summary":"(테스트) 요청 텍스트의 임베딩값을 생성합니다.","operationId":"getGeminiEmbedding","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseGeminiEmbeddingResponse"}}}}}}},"/test/batch/clustering-category":{"post":{"tags":["Test API"],"operationId":"clusterCategory","responses":{"200":{"description":"OK"}}}},"/scrap-folder":{"get":{"tags":["Scrap Folder API"],"summary":"나의 스크랩 폴더 리스트를 조회합니다.","description":"스크랩 폴더 리스트에 '나의 어려웠던 질문' 폴더는 포함하지 않습니다. 해당 폴더의 내용은 어려웠던 질문을 조회하는 API로 조회합니다.","operationId":"getMyScrapFolders","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePageScrapFolderResponse"}}}}}},"post":{"tags":["Scrap Folder API"],"summary":"스크랩 폴더를 생성합니다.","operationId":"createScrapFolder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScrapFolderCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/qna-set/{qnaSetId}/star-analysis":{"post":{"tags":["QnA Set API"],"summary":"지정한 질문 답변 세트에 대해 스타 분석 생성을 요청합니다.","description":"Gemini 요청을 수행하고 10~20초 뒤에 응답이 반환됩니다.","operationId":"createStarAnalysis","parameters":[{"name":"qnaSetId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseStarAnalysisDto"}}}}}}},"/qna-set/my/search":{"post":{"tags":["Qna Set My Controller"],"summary":"나의 면접 질문들을 검색합니다.","description":"    나의 면접 질문들을 검색합니다. 조건을 넣지 않으면 전체 데이터를 조회합니다.<br>\n    정렬 기준 (형식: field,asc / field,desc)<br>지원하는 정렬 필드:<br>- interviewStartAt (면접일)<br>- updatedAt (수정일)\n","operationId":"searchMyQnaSet","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QnaSetSearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePageQnaSetSearchResponse"}}}}}}},"/interview":{"post":{"tags":["Interview API"],"summary":"면접 데이터를 생성합니다.","operationId":"createInterview","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InterviewCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseInterviewCreateResponse"}}}}}}},"/interview/{interviewId}/start-logging":{"post":{"tags":["Interview API"],"summary":"면접 기록 녹음/텍스트 작성을 시작합니다.","description":"        면접 상태를 '기록중' 상태로 변화시킵니다. 기록을 완료하고 질답세트로 기록한 내용을 변환 요청하려면 반드시 면접 상태가 '기록중' 상태여야 합니다.\n","operationId":"startLogging","parameters":[{"name":"interviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/interview/{interviewId}/self-review/complete":{"post":{"tags":["Interview API"],"summary":"면접의 회고 작성을 완료합니다.","operationId":"completeSelfReview","parameters":[{"name":"interviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/interview/{interviewId}/raw-text/convert":{"post":{"tags":["Interview API"],"summary":"면접 기록을 질문/답변 세트로 변환합니다.","description":"        변환이 완료되면 면접 상태를 '질답 세트 검토중' 상태로 바꿉니다.\n        질답세트를 추가/수정/삭제하려면 반드시 면접 상태가 '질답 세트 검토중' 상태여야 합니다.\n        변환이 실패하면 실패 응답을 반환하고 '기록 중' 상태를 유지합니다.\n","operationId":"convertRawTextToQnaSet","parameters":[{"name":"interviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}},"deprecated":true}},"/interview/{interviewId}/raw-text/convert/request":{"post":{"tags":["Interview API"],"summary":"면접 기록을 질문/답변 세트으로 변환 요청합니다.","operationId":"requestConvert","parameters":[{"name":"interviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/interview/{interviewId}/qna-set":{"post":{"tags":["Interview API"],"summary":"면접에 새로운 질답 세트를 추가합니다.","operationId":"createQnaSet","parameters":[{"name":"interviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QnaSetCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseQnaSetCreateResponse"}}}}}}},"/interview/{interviewId}/qna-set/complete":{"post":{"tags":["Interview API"],"summary":"면접의 질답 세트 작성을 완료합니다.","operationId":"completeQnaSetDraft","parameters":[{"name":"interviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/interview/my/search":{"post":{"tags":["Interview My API"],"summary":"나의 면접을 검색합니다.","description":"면접 회고 진행 상태에 상관없이 나의 모든 면접을 대상으로 검색합니다.<br>\nsearchFilter 필드는 null 이 될 수 없습니다. 검색 조건이 없는 경우에도 해당 필드를 빈 배열, null 등으로 채워서 보내주세요.<br>\n정렬 기준 (형식: field,asc / field,desc)<br>지원하는 정렬 필드:<br>\n- interviewStartAt (면접일)<br>\n- companyName (기업명)<br>\n- updatedAt (수정일)<br>\n","operationId":"searchInterviews","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InterviewSearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePageInterviewDto"}}}}}}},"/auth/logout":{"post":{"tags":["Auth Controller"],"summary":"로그아웃","description":"엑세스 토큰과 리프레시 토큰 쿠키를 삭제하고, Redis의 리프레시 토큰을 폐기합니다.","operationId":"logout","parameters":[{"name":"refresh_token","in":"cookie","required":false,"schema":{"type":"string"}},{"name":"originType","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/scrap-folder/{scrapFolderId}/name":{"patch":{"tags":["Scrap Folder API"],"summary":"스크랩 폴더의 이름을 수정합니다.","operationId":"updateScrapFolderName","parameters":[{"name":"scrapFolderId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScrapFolderNameUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/qna-set/{qnaSetId}/difficult/unmark":{"patch":{"tags":["QnA Set API"],"summary":"지정한 질문에 대해 어려웠던 질문 마킹을 등록 해제 합니다.","operationId":"unmarkDifficultQuestion","parameters":[{"name":"qnaSetId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/qna-set/{qnaSetId}/difficult/mark":{"patch":{"tags":["QnA Set API"],"summary":"지정한 질문에 대해 어려웠던 질문 마킹을 등록합니다.","operationId":"markDifficultQuestion","parameters":[{"name":"qnaSetId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/interview/{interviewId}/result-status":{"patch":{"tags":["Interview API"],"summary":"면접 결과를 수정합니다.","operationId":"updateInterviewResultStatus","parameters":[{"name":"interviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InterviewResultStatusUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/test/auth/token":{"get":{"tags":["Test Auth/User API"],"summary":"(테스트용) Access&Refresh Token을 이메일을 통해 발급합니다.","description":"발급된 토큰은 origin에 따라 세팅됩니다. response body에 회원가입 필요 여부 및 토큰 정보가 포함됩니다.","operationId":"publishToken","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string","format":"email"}},{"name":"originType","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTestPublishTokenResponse"}}}}}}},"/test/auth/token/{userId}":{"get":{"tags":["Test Auth/User API"],"summary":"(테스트용) Access&Refresh Token을 사용자 아이디를 통해 발급합니다.","description":"발급된 토큰은 origin에 따라 세팅됩니다. response body에 회원가입 필요 여부 및 토큰 정보가 포함됩니다.","operationId":"publishTokenByUserId","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"originType","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTestPublishTokenResponse"}}}}}}},"/scrap-folder/{scrapFolderId}":{"get":{"tags":["Scrap Folder API"],"summary":"나의 스크랩 폴더 내 질문 답변 세트 리스트를 조회합니다.","description":"        '나의 어려웠던 질문' 폴더는 포함하지 않습니다. 해당 폴더의 내용은 어려웠던 질문을 조회하는 API로 조회합니다.<br>\n        정렬 기준 (형식: field,asc / field,desc)<br>지원하는 정렬 필드:<br>- interviewStartAt (면접일)\n","operationId":"getQnaSetsInScrapFolder","parameters":[{"name":"scrapFolderId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePageScrapFolderQnaSetResponse"}}}}}},"delete":{"tags":["Scrap Folder API"],"summary":"스크랩 폴더를 삭제합니다.","operationId":"deleteScrapFolder","parameters":[{"name":"scrapFolderId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/qna-set/{qnaSetId}/scrap-folder":{"get":{"tags":["QnA Set API"],"summary":"지정한 질문 답변 세트가 스크랩 폴더에 포함되어 있는 지 여부가 포함된 스크랩 폴더 리스트를 조회합니다.","operationId":"getScrapFoldersContainingQnaSet","parameters":[{"name":"qnaSetId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePageQnaSetScrapFolderResponse"}}}}}}},"/qna-set/my/frequent/category":{"get":{"tags":["Qna Set My Controller"],"summary":"나의 빈출 질문 카테고리 리스트와 각 카테고리 별 질문 개수를 조회합니다.","description":"나의 빈출 질문 카테고리 리스트와 각 카테고리 별 질문 개수를 질문 개수가 많은 카테고리 순으로 정렬하여 조회합니다.","operationId":"getMyFrequentQnaSetCategories","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePageFrequentQnaSetCategoryResponse"}}}}}}},"/qna-set/my/frequent/category/{categoryId}":{"get":{"tags":["Qna Set My Controller"],"summary":"나의 빈출 질문 중 특정 카테고리에 속한 질문들을 조회합니다.","description":"나의 빈출 질문 중 특정 카테고리에 속한 질문들을 조회합니다.","operationId":"getMyFrequentQnaSetCategoryQuestions","parameters":[{"name":"categoryId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePageFrequentQnaSetCategoryQuestionResponse"}}}}}}},"/qna-set/my/difficult":{"get":{"tags":["Qna Set My Controller"],"summary":"대시보드 및 스크랩 화면에서 '내가 어렵게 느낀 질문' 리스트를 조회합니다.","description":"정렬 기준 (형식: field,asc / field,desc)<br>지원하는 정렬 필드:<br>- interviewStartAt (면접일)\n","operationId":"getMyDifficultQnaSets","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePageMyDifficultQuestionResponse"}}}}}}},"/qna-set/frequent":{"get":{"tags":["QnA Set API"],"summary":"지정한 산업군 / 직무의 빈출 질문 답변 세트를 조회합니다.","description":"        지정한 산업군 / 직무의 빈출 질문 답변 세트를 조회합니다. 지정하지 않은 필드에 대해서는 전체를 대상으로 조회합니다.<br>\n        약관에 동의하지 않은 사용자가 조회하면 질답 세트 데이터가 조회되지 않고, 조회 결과 개수만 반환합니다.\n","operationId":"getFrequentQuestions","parameters":[{"name":"industryIds","in":"query","required":false,"style":"form","schema":{"type":"array","items":{"type":"integer","format":"int64"},"uniqueItems":true}},{"name":"jobCategoryIds","in":"query","required":false,"style":"form","schema":{"type":"array","items":{"type":"integer","format":"int64"},"uniqueItems":true}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePageFrequentQnaSetResponse"}}}}}}},"/job-category":{"get":{"tags":["Job Category API"],"summary":"직무 리스트를 조회합니다.","operationId":"getAllJobCategories","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListJobCategoryResponse"}}}}}}},"/interview/{interviewId}":{"get":{"tags":["Interview API"],"summary":"특정 면접 정보를 조회합니다.","description":"면접에 대한 정보만 조회하며, 면접에 속한 질문, 회고 등의 정보는 조회하지 않습니다.","operationId":"getInterview","parameters":[{"name":"interviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseInterviewDto"}}}}}},"delete":{"tags":["Interview API"],"summary":"면접을 삭제합니다.","description":"면접 삭제시 해당 면접에 기록된 질문, 회고 데이터도 함께 삭제됩니다.","operationId":"deleteInterview","parameters":[{"name":"interviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/interview/{interviewId}/raw-text/convert/result":{"get":{"tags":["Interview API"],"summary":"변환 요청 결과를 조회합니다.","operationId":"waitConvertResult","parameters":[{"name":"interviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseConvertResultResponse"}}}}}}},"/interview/{interviewId}/qna-sets":{"get":{"tags":["Interview API"],"summary":"면접 및 면접에 관련된 질문, 회고 데이터를 모두 조회합니다.","operationId":"getInterviewFull","parameters":[{"name":"interviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseInterviewFullDto"}}}}}}},"/interview/{interviewId}/pdf/upload-url":{"get":{"tags":["Interview API"],"summary":"면접 PDF 파일 업로드를 위한 Pre-Signed URL을 요청합니다.","operationId":"createPdfUploadUrl","parameters":[{"name":"interviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePdfFilePresignResponse"}}}}}}},"/interview/{interviewId}/pdf/download-url":{"get":{"tags":["Interview API"],"summary":"면접 PDF 파일 다운로드를 위한 Pre-Signed URL을 요청합니다.","operationId":"createPdfDownloadUrl","parameters":[{"name":"interviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePdfFilePresignResponse"}}}}}}},"/interview/{interviewId}/guide-question":{"get":{"tags":["Interview API"],"summary":"면접 기록 중, 가이드 질문을 조회합니다.","operationId":"getGuideQuestion","parameters":[{"name":"interviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseGuideQuestionResponse"}}}}}}},"/interview/my/not-logged":{"get":{"tags":["Interview My API"],"summary":"아직 기록하지 않은 나의 면접들을 조회합니다.","description":"        현재일 기준 최근 한 달동안 본 면접 데이터 중 상태가 '기록전' 상태인 면접을 면접일 기준 내림차순으로 조회합니다.\n        모바일 화면에서 기록할 면접을 조회할 때 사용됩니다.\n","operationId":"getMyNotLoggedInterviews","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListInterviewSimpleDto"}}}}}}},"/interview/my/draft":{"get":{"tags":["Interview My API"],"summary":"내가 작성중인 (임시저장) 복기 데이터를 조회합니다.","description":"interviewReviewStatus 에는 LOG_DRAFT (기록 중), SELF_REVIEW_DRAFT (회고 중) 값만 들어갈 수 있습니다.\n이외의 값에 대해서는 400 에러를 응답합니다.\n","operationId":"getMyInterviewDrafts","parameters":[{"name":"interviewDraftType","in":"query","required":true,"schema":{"type":"string","enum":["LOGGING","REVIEWING"]}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePageInterviewSimpleDto"}}}}}}},"/industry":{"get":{"tags":["Industry API"],"summary":"산업군 리스트를 조회합니다.","operationId":"getIndustries","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListIndustryResponse"}}}}}}},"/dashboard/interview/upcoming":{"get":{"tags":["Dashboard API"],"summary":"대시보드에서 '다가오는 면접' 영역의 데이터를 조회합니다.","description":"곧 보게되는 면접 정보, 유사 산업군/직군 면접 질문, 유사 면접 리스트를 조회합니다.<br>\n각 면접 일정의 Dday 필드는 과거라면 음수, 미래라면 양수 값을 갖습니다.<br>\n유사 산업군/직군 면접 질문의 경우, 유저가 약관에 동의하지 않았다면 빈 리스트를 응답합니다.<br>\n'다가오는 면접'은 미래 면접만 조회되며, 가장 가까운 면접 일시 순서대로 오름차순 정렬됩니다.\n","operationId":"getUpcomingInterviews","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePageDashboardUpcomingInterviewResponse"}}}}}}},"/dashboard/interview/debrief-uncompleted":{"get":{"tags":["Dashboard API"],"summary":"대시보드에서 복기 대기중인 면접 리스트를 조회합니다.","description":"복기 대기중인 면접은 과거 면접을 대상으로 내림차순 조회합니다.\n","operationId":"getDebriefIncompletedInterviews","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePageDashboardDebriefIncompletedInterviewResponse"}}}}}}},"/dashboard/headline":{"get":{"tags":["Dashboard API"],"summary":"대시보드 헤드라인에 들어갈 정보를 조회합니다.","description":"대시보드 헤드라인 타입과, 해당 타입에서 필요한 데이터를 응답합니다.\n헤드라인 타입에는 다음의 4가지 타입이 응답으로 나옵니다.\n#0 \"REGISTER_INTERVIEW\" - 면접 일정 등록하기 (아직 면접 일정이 없는 경우, 초기 사용자)\n#1 \"PREPARE_INTERVIEW\"  - 면접 대비하기 (일주일 내 예정된 면접 일정이 있는 경우)\n#2 \"REVIEW_INTERVIEW\"   - 면접 복기 시작하기 (복기를 완료하지 않은 면접이 존재하는 경우)\n#3 \"CHECK_INTERVIEW_HISTORY\" - 면접 히스토 확인하기 (위 케이스에 해당하지 않는 경우)\n","operationId":"getDashboardHeadline","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDashboardHeadlineResponse"}}}}}}},"/dashboard/calendar/interview":{"get":{"tags":["Dashboard API"],"summary":"대시보드 캘린더에 등록된 면접 일정을 조회합니다.","description":"면접 일정이 존재하는 date 리스트, 각 date 별로는 해당 date 에 존재하는 면접 일정 리스트가 조회됩니다.\ndate 리스트는 날짜순으로 정렬, 각 date 별 해당 date 에 존재하는 면접 일정들은 시간순으로 정렬되어 조회됩니다.\n각 면접 일정의 Dday 필드는 과거라면 음수, 미래라면 양수 값을 갖습니다.\n","operationId":"getDashboardCalendarInterviews","parameters":[{"name":"year","in":"query","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"month","in":"query","required":true,"schema":{"type":"integer","format":"int32","maximum":12,"minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListDashboardCalendarResponse"}}}}}}},"/company":{"get":{"tags":["Company API"],"summary":"회사 목록을 검색합니다.","description":"회사 목록을 검색합니다. 한글의 일부가 완성되어도 검새이 가능합니다.","operationId":"findCompanies","parameters":[{"name":"query","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePageCompanyResponse"}}}}}}},"/auth/reissue":{"get":{"tags":["Auth Controller"],"summary":"리프레시 토큰과 엑세스 토큰을 재발급합니다.","description":"리프레시 토큰이 재발급되면, 기존 리프레시 토큰은 폐기됩니다.","operationId":"reissue","parameters":[{"name":"access_token","in":"cookie","required":false,"schema":{"type":"string"}},{"name":"refresh_token","in":"cookie","required":false,"schema":{"type":"string"}},{"name":"originType","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTokenReissueResponse"}}}}}}},"/auth/login/google":{"get":{"tags":["Google OAuth API"],"summary":"구글 로그인 화면으로 이동하는 url을 생성합니다.","operationId":"buildOAuth2LoginUrl","parameters":[{"name":"originType","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseOAuth2LoginUrlResponse"}}}}}}},"/auth/login/google/callback":{"get":{"tags":["Google OAuth API"],"summary":"구글 로그인에 성공했을 때 호출되는 콜백 API 입니다.","description":"인가 코드를 활용하여 refit 서비스의 토큰을 발급하여 클라이언트에게 쿠키로 설정합니다.","operationId":"handleOAuth2Callback","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string"}},{"name":"state","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/test/user":{"delete":{"tags":["Test API"],"summary":"(테스트용) 유저를 이메일로 찾아 삭제합니다.","operationId":"deleteUserByEmail","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string","format":"email"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/test/user/{userId}":{"delete":{"tags":["Test API"],"summary":"(테스트용) 유저를 id로 찾아 삭제합니다.","operationId":"deleteUserById","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/test/auth/cookies":{"delete":{"tags":["Test Auth/User API"],"summary":"(테스트용) 쿠키에 설정된 토큰들을 삭제합니다.","operationId":"deleteTokenCookies","parameters":[{"name":"refresh_token","in":"cookie","required":false,"schema":{"type":"string"}},{"name":"originType","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/interview/{interviewId}/pdf":{"delete":{"tags":["Interview API"],"summary":"면접 PDF 파일을 삭제합니다.","description":"연관된 하이라이팅은 모두 삭제됩니다.\n","operationId":"deleteInterviewPdf","parameters":[{"name":"interviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}}},"components":{"schemas":{"MyProfileUpdateRequest":{"type":"object","properties":{"nickname":{"type":"string","maxLength":30,"minLength":0},"industryId":{"type":"integer","format":"int64"},"jobCategoryId":{"type":"integer","format":"int64"}},"required":["nickname"]},"ApiResponseVoid":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{}},"required":["code","isSuccess","message"]},"QnaSetUpdateRequest":{"type":"object","properties":{"questionText":{"type":"string","maxLength":200,"minLength":0},"answerText":{"type":"string","maxLength":10000,"minLength":0}}},"QnaSetReviewUpdateRequest":{"type":"object","properties":{"selfReviewText":{"type":"string","maxLength":500,"minLength":0}}},"PdfHighlightingRectDto":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"width":{"type":"number","format":"double"},"height":{"type":"number","format":"double"},"pageNumber":{"type":"integer","format":"int32"}},"required":["height","pageNumber","width","x","y"]},"PdfHighlightingUpdateRequest":{"type":"object","properties":{"highlightingText":{"type":"string","maxLength":2000,"minLength":0},"rects":{"type":"array","items":{"$ref":"#/components/schemas/PdfHighlightingRectDto"}}},"required":["highlightingText","rects"]},"RawTextUpdateRequest":{"type":"object","properties":{"rawText":{"type":"string","maxLength":10000,"minLength":0}},"required":["rawText"]},"KptSelfReviewUpdateRequest":{"type":"object","properties":{"keepText":{"type":"string","maxLength":8000,"minLength":0},"problemText":{"type":"string","maxLength":8000,"minLength":0},"tryText":{"type":"string","maxLength":8000,"minLength":0}}},"UserSignUpRequest":{"type":"object","properties":{"nickname":{"type":"string","maxLength":30,"minLength":0},"profileImageUrl":{"type":"string","maxLength":2048,"minLength":0},"industryId":{"type":"integer","format":"int64"},"jobCategoryId":{"type":"integer","format":"int64"}},"required":["industryId","jobCategoryId","nickname","profileImageUrl"]},"ApiResponseGeminiEmbeddingResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/GeminiEmbeddingResponse"}},"required":["code","isSuccess","message"]},"Embedding":{"type":"object","properties":{"values":{"type":"array","items":{"type":"number","format":"float"}}}},"GeminiEmbeddingResponse":{"type":"object","properties":{"embedding":{"$ref":"#/components/schemas/Embedding"}}},"ScrapFolderCreateRequest":{"type":"object","properties":{"scrapFolderName":{"type":"string","maxLength":10,"minLength":0}},"required":["scrapFolderName"]},"ApiResponseStarAnalysisDto":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/StarAnalysisDto"}},"required":["code","isSuccess","message"]},"StarAnalysisDto":{"type":"object","properties":{"sInclusionLevel":{"type":"string","enum":["NULL","PRESENT","INSUFFICIENT","ABSENT"]},"tInclusionLevel":{"type":"string","enum":["NULL","PRESENT","INSUFFICIENT","ABSENT"]},"aInclusionLevel":{"type":"string","enum":["NULL","PRESENT","INSUFFICIENT","ABSENT"]},"rInclusionLevel":{"type":"string","enum":["NULL","PRESENT","INSUFFICIENT","ABSENT"]},"overallSummary":{"type":"string"}},"required":["aInclusionLevel","overallSummary","rInclusionLevel","sInclusionLevel","tInclusionLevel"]},"QnaSearchFilter":{"type":"object","properties":{"hasStarAnalysis":{"type":"boolean"},"sInclusionLevels":{"type":"array","items":{"type":"string","enum":["NULL","PRESENT","INSUFFICIENT","ABSENT"]},"uniqueItems":true},"tInclusionLevels":{"type":"array","items":{"type":"string","enum":["NULL","PRESENT","INSUFFICIENT","ABSENT"]},"uniqueItems":true},"aInclusionLevels":{"type":"array","items":{"type":"string","enum":["NULL","PRESENT","INSUFFICIENT","ABSENT"]},"uniqueItems":true},"rInclusionLevels":{"type":"array","items":{"type":"string","enum":["NULL","PRESENT","INSUFFICIENT","ABSENT"]},"uniqueItems":true}}},"QnaSetSearchRequest":{"type":"object","properties":{"keyword":{"type":"string"},"searchFilter":{"$ref":"#/components/schemas/QnaSearchFilter"}},"required":["searchFilter"]},"ApiResponsePageQnaSetSearchResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageQnaSetSearchResponse"}},"required":["code","isSuccess","message"]},"InterviewDto":{"type":"object","properties":{"interviewId":{"type":"integer","format":"int64"},"interviewType":{"type":"string","enum":["FIRST","SECOND","THIRD","BEHAVIORAL","TECHNICAL","EXECUTIVE","CULTURE_FIT","COFFEE_CHAT","PSEUDO"]},"interviewStartAt":{"type":"string","format":"date-time"},"interviewResultStatus":{"type":"string","enum":["WAIT","FAIL","PASS"]},"interviewReviewStatus":{"type":"string","enum":["NOT_LOGGED","LOG_DRAFT","QNA_SET_DRAFT","SELF_REVIEW_DRAFT","DEBRIEF_COMPLETED"]},"interviewRawText":{"type":"string"},"companyName":{"type":"string"},"companyLogoUrl":{"type":"string"},"industryId":{"type":"integer","format":"int64"},"industryName":{"type":"string"},"jobCategoryId":{"type":"integer","format":"int64"},"jobCategoryName":{"type":"string"},"updatedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"}},"required":["companyName","createdAt","industryId","industryName","interviewId","interviewResultStatus","interviewReviewStatus","interviewStartAt","interviewType","jobCategoryId","jobCategoryName","updatedAt"]},"PageQnaSetSearchResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/QnaSetSearchResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject"},"pageNumber":{"type":"integer","format":"int32"},"unpaged":{"type":"boolean"},"pageSize":{"type":"integer","format":"int32"},"paged":{"type":"boolean"}}},"QnaSetSearchResponse":{"type":"object","properties":{"interviewInfo":{"$ref":"#/components/schemas/InterviewDto"},"qnaSetInfo":{"$ref":"#/components/schemas/QnaSetSimpleDto"}},"required":["interviewInfo","qnaSetInfo"]},"QnaSetSimpleDto":{"type":"object","properties":{"qnaSetId":{"type":"integer","format":"int64"},"questionText":{"type":"string"},"answerText":{"type":"string"}},"required":["answerText","qnaSetId","questionText"]},"SortObject":{"type":"object","properties":{"empty":{"type":"boolean"},"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"InterviewCreateRequest":{"type":"object","properties":{"startAt":{"type":"string","format":"date-time"},"interviewType":{"type":"string","enum":["FIRST","SECOND","THIRD","BEHAVIORAL","TECHNICAL","EXECUTIVE","CULTURE_FIT","COFFEE_CHAT","PSEUDO"]},"companyName":{"type":"string"},"industryId":{"type":"integer","format":"int64"},"jobCategoryId":{"type":"integer","format":"int64"},"jobRole":{"type":"string"}},"required":["companyName","industryId","interviewType","jobCategoryId","jobRole","startAt"]},"ApiResponseInterviewCreateResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/InterviewCreateResponse"}},"required":["code","isSuccess","message"]},"InterviewCreateResponse":{"type":"object","properties":{"interviewId":{"type":"integer","format":"int64"}},"required":["interviewId"]},"QnaSetCreateRequest":{"type":"object","properties":{"questionText":{"type":"string","maxLength":200,"minLength":0},"answerText":{"type":"string","maxLength":10000,"minLength":0}},"required":["answerText","questionText"]},"ApiResponseQnaSetCreateResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/QnaSetCreateResponse"}},"required":["code","isSuccess","message"]},"QnaSetCreateResponse":{"type":"object","properties":{"qnaSetId":{"type":"integer","format":"int64"}},"required":["qnaSetId"]},"InterviewSearchFilter":{"type":"object","properties":{"interviewType":{"type":"array","items":{"type":"string","enum":["FIRST","SECOND","THIRD","BEHAVIORAL","TECHNICAL","EXECUTIVE","CULTURE_FIT","COFFEE_CHAT","PSEUDO"]},"uniqueItems":true},"interviewResultStatus":{"type":"array","items":{"type":"string","enum":["WAIT","FAIL","PASS"]},"uniqueItems":true},"interviewReviewStatus":{"type":"array","items":{"type":"string","enum":["NOT_LOGGED","LOG_DRAFT","QNA_SET_DRAFT","SELF_REVIEW_DRAFT","DEBRIEF_COMPLETED"]},"uniqueItems":true},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"}}},"InterviewSearchRequest":{"type":"object","properties":{"keyword":{"type":"string"},"searchFilter":{"$ref":"#/components/schemas/InterviewSearchFilter"}},"required":["searchFilter"]},"ApiResponsePageInterviewDto":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageInterviewDto"}},"required":["code","isSuccess","message"]},"PageInterviewDto":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/InterviewDto"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"ScrapFolderNameUpdateRequest":{"type":"object","properties":{"scrapFolderName":{"type":"string","maxLength":10,"minLength":0}},"required":["scrapFolderName"]},"InterviewResultStatusUpdateRequest":{"type":"object","properties":{"interviewResultStatus":{"type":"string","enum":["WAIT","FAIL","PASS"]}},"required":["interviewResultStatus"]},"ApiResponseMyProfileResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/MyProfileResponse"}},"required":["code","isSuccess","message"]},"MyProfileResponse":{"type":"object","properties":{"nickname":{"type":"string"},"industryId":{"type":"integer","format":"int64"},"jobCategoryId":{"type":"integer","format":"int64"},"profileImageUrl":{"type":"string"},"isAgreedToTerms":{"type":"boolean"}},"required":["industryId","isAgreedToTerms","jobCategoryId","nickname","profileImageUrl"]},"ApiResponseTestPublishTokenResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/TestPublishTokenResponse"}},"required":["code","isSuccess","message"]},"TestPublishTokenResponse":{"type":"object","properties":{"isNeedSignUp":{"type":"boolean"},"tokens":{"$ref":"#/components/schemas/TokenPairDto"}},"required":["isNeedSignUp","tokens"]},"TokenPairDto":{"type":"object","properties":{"accessToken":{"type":"string"},"refreshToken":{"type":"string"}},"required":["accessToken","refreshToken"]},"ApiResponsePageScrapFolderResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageScrapFolderResponse"}},"required":["code","isSuccess","message"]},"PageScrapFolderResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/ScrapFolderResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"ScrapFolderResponse":{"type":"object","properties":{"scrapFolderId":{"type":"integer","format":"int64"},"scrapFolderName":{"type":"string"},"qnaSetCount":{"type":"integer","format":"int64"}},"required":["qnaSetCount","scrapFolderId","scrapFolderName"]},"ApiResponsePageScrapFolderQnaSetResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageScrapFolderQnaSetResponse"}},"required":["code","isSuccess","message"]},"PageScrapFolderQnaSetResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/ScrapFolderQnaSetResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"ScrapFolderQnaSetResponse":{"type":"object","properties":{"interview":{"$ref":"#/components/schemas/InterviewDto"},"qnaSet":{"$ref":"#/components/schemas/QnaSetSimpleDto"}},"required":["interview","qnaSet"]},"ApiResponsePageQnaSetScrapFolderResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageQnaSetScrapFolderResponse"}},"required":["code","isSuccess","message"]},"PageQnaSetScrapFolderResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/QnaSetScrapFolderResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"QnaSetScrapFolderResponse":{"type":"object","properties":{"scrapFolderId":{"type":"integer","format":"int64"},"scrapFolderName":{"type":"string"},"contains":{"type":"boolean"}},"required":["contains","scrapFolderId","scrapFolderName"]},"ApiResponseListPdfHighlightingDto":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/PdfHighlightingDto"}}},"required":["code","isSuccess","message"]},"PdfHighlightingDto":{"type":"object","properties":{"pdfHighlightingId":{"type":"integer","format":"int64"},"highlightingText":{"type":"string"},"rects":{"type":"array","items":{"$ref":"#/components/schemas/PdfHighlightingRectDto"}}},"required":["highlightingText","pdfHighlightingId","rects"]},"ApiResponsePageFrequentQnaSetCategoryResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageFrequentQnaSetCategoryResponse"}},"required":["code","isSuccess","message"]},"FrequentQnaSetCategoryResponse":{"type":"object","properties":{"categoryId":{"type":"integer","format":"int64"},"categoryName":{"type":"string"},"frequentCount":{"type":"integer","format":"int64"},"cohesion":{"type":"number","format":"double"}},"required":["categoryId","categoryName","cohesion","frequentCount"]},"PageFrequentQnaSetCategoryResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/FrequentQnaSetCategoryResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"ApiResponsePageFrequentQnaSetCategoryQuestionResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageFrequentQnaSetCategoryQuestionResponse"}},"required":["code","isSuccess","message"]},"CompanyDto":{"type":"object","properties":{"companyId":{"type":"integer","format":"int64"},"companyName":{"type":"string"},"companyLogoUrl":{"type":"string"}},"required":["companyId","companyName"]},"FrequentQnaSetCategoryQuestionResponse":{"type":"object","properties":{"question":{"type":"string"},"interviewInfo":{"$ref":"#/components/schemas/InterviewSimpleDto"}},"required":["interviewInfo","question"]},"InterviewSimpleDto":{"type":"object","properties":{"interviewId":{"type":"integer","format":"int64"},"interviewType":{"type":"string","enum":["FIRST","SECOND","THIRD","BEHAVIORAL","TECHNICAL","EXECUTIVE","CULTURE_FIT","COFFEE_CHAT","PSEUDO"]},"interviewReviewStatus":{"type":"string","enum":["NOT_LOGGED","LOG_DRAFT","QNA_SET_DRAFT","SELF_REVIEW_DRAFT","DEBRIEF_COMPLETED"]},"interviewStartAt":{"type":"string","format":"date-time"},"companyInfo":{"$ref":"#/components/schemas/CompanyDto"},"jobCategoryName":{"type":"string"},"updatedAt":{"type":"string","format":"date-time"}},"required":["companyInfo","interviewId","interviewReviewStatus","interviewStartAt","interviewType","jobCategoryName","updatedAt"]},"PageFrequentQnaSetCategoryQuestionResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/FrequentQnaSetCategoryQuestionResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"ApiResponsePageMyDifficultQuestionResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageMyDifficultQuestionResponse"}},"required":["code","isSuccess","message"]},"MyDifficultQuestionResponse":{"type":"object","properties":{"qnaSetId":{"type":"integer","format":"int64"},"question":{"type":"string"},"answer":{"type":"string"},"interview":{"$ref":"#/components/schemas/InterviewDto"}},"required":["answer","interview","qnaSetId","question"]},"PageMyDifficultQuestionResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/MyDifficultQuestionResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"ApiResponsePageFrequentQnaSetResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageFrequentQnaSetResponse"}},"required":["code","isSuccess","message"]},"FrequentQnaSetResponse":{"type":"object","properties":{"industryName":{"type":"string"},"jobCategoryName":{"type":"string"},"interviewType":{"type":"string","enum":["FIRST","SECOND","THIRD","BEHAVIORAL","TECHNICAL","EXECUTIVE","CULTURE_FIT","COFFEE_CHAT","PSEUDO"]},"interviewStartAt":{"type":"string","format":"date-time"},"question":{"type":"string"}},"required":["industryName","interviewStartAt","interviewType","jobCategoryName","question"]},"PageFrequentQnaSetResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/FrequentQnaSetResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"ApiResponseListJobCategoryResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/JobCategoryResponse"}}},"required":["code","isSuccess","message"]},"JobCategoryResponse":{"type":"object","properties":{"jobCategoryId":{"type":"integer","format":"int64"},"jobCategoryName":{"type":"string"}},"required":["jobCategoryId","jobCategoryName"]},"ApiResponseInterviewDto":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/InterviewDto"}},"required":["code","isSuccess","message"]},"ApiResponseConvertResultResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/ConvertResultResponse"}},"required":["code","isSuccess","message"]},"ConvertResultResponse":{"type":"object","properties":{"interviewId":{"type":"integer","format":"int64"},"convertStatus":{"type":"string","enum":["NOT_CONVERTED","IN_PROGRESS","COMPLETED"]}},"required":["convertStatus","interviewId"]},"ApiResponseInterviewFullDto":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/InterviewFullDto"}},"required":["code","isSuccess","message"]},"InterviewFullDto":{"type":"object","properties":{"interviewId":{"type":"integer","format":"int64"},"interviewType":{"type":"string","enum":["FIRST","SECOND","THIRD","BEHAVIORAL","TECHNICAL","EXECUTIVE","CULTURE_FIT","COFFEE_CHAT","PSEUDO"]},"interviewStartAt":{"type":"string","format":"date-time"},"interviewReviewStatus":{"type":"string","enum":["NOT_LOGGED","LOG_DRAFT","QNA_SET_DRAFT","SELF_REVIEW_DRAFT","DEBRIEF_COMPLETED"]},"interviewResultStatus":{"type":"string","enum":["WAIT","FAIL","PASS"]},"companyName":{"type":"string"},"companyLogoUrl":{"type":"string"},"industryId":{"type":"integer","format":"int64"},"jobCategoryId":{"type":"integer","format":"int64"},"jobRole":{"type":"string"},"updatedAt":{"type":"string","format":"date-time"},"pdfResourceKey":{"type":"string"},"qnaSets":{"type":"array","items":{"$ref":"#/components/schemas/QnaSetDto"}},"interviewSelfReview":{"$ref":"#/components/schemas/InterviewSelfReviewDto"}},"required":["companyLogoUrl","companyName","industryId","interviewId","interviewResultStatus","interviewReviewStatus","interviewStartAt","interviewType","jobCategoryId","qnaSets","updatedAt"]},"InterviewSelfReviewDto":{"type":"object","properties":{"keepText":{"type":"string"},"problemText":{"type":"string"},"tryText":{"type":"string"}},"required":["keepText","problemText","tryText"]},"QnaSetDto":{"type":"object","properties":{"qnaSetId":{"type":"integer","format":"int64"},"interviewId":{"type":"integer","format":"int64"},"questionText":{"type":"string"},"answerText":{"type":"string"},"qnaSetSelfReviewText":{"type":"string"},"starAnalysis":{"$ref":"#/components/schemas/StarAnalysisDto"},"isMarkedDifficult":{"type":"boolean"}},"required":["answerText","interviewId","isMarkedDifficult","qnaSetId","qnaSetSelfReviewText","questionText"]},"ApiResponsePdfFilePresignResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PdfFilePresignResponse"}},"required":["code","isSuccess","message"]},"PdfFilePresignResponse":{"type":"object","properties":{"presignedUrlDto":{"$ref":"#/components/schemas/PresignedUrlDto"},"pdfUploadUrlPublishedAt":{"type":"string","format":"date-time"}},"required":["pdfUploadUrlPublishedAt","presignedUrlDto"]},"PresignedUrlDto":{"type":"object","properties":{"url":{"type":"string"},"key":{"type":"string"},"expireSeconds":{"type":"integer","format":"int32"}},"required":["expireSeconds","key","url"]},"ApiResponseGuideQuestionResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/GuideQuestionResponse"}},"required":["code","isSuccess","message"]},"GuideQuestionResponse":{"type":"object","properties":{"guideQuestion":{"type":"string"}},"required":["guideQuestion"]},"ApiResponseListInterviewSimpleDto":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/InterviewSimpleDto"}}},"required":["code","isSuccess","message"]},"ApiResponsePageInterviewSimpleDto":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageInterviewSimpleDto"}},"required":["code","isSuccess","message"]},"PageInterviewSimpleDto":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/InterviewSimpleDto"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"ApiResponseListIndustryResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/IndustryResponse"}}},"required":["code","isSuccess","message"]},"IndustryResponse":{"type":"object","properties":{"industryId":{"type":"integer","format":"int64"},"industryName":{"type":"string"}},"required":["industryId","industryName"]},"ApiResponsePageDashboardUpcomingInterviewResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageDashboardUpcomingInterviewResponse"}},"required":["code","isSuccess","message"]},"DashboardUpcomingInterviewResponse":{"type":"object","properties":{"upcomingInterview":{"$ref":"#/components/schemas/InterviewDto"},"frequentlyAskedQuestions":{"type":"array","items":{"type":"string"}},"relatedInterviews":{"type":"array","items":{"$ref":"#/components/schemas/InterviewDto"}}},"required":["frequentlyAskedQuestions","relatedInterviews","upcomingInterview"]},"PageDashboardUpcomingInterviewResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/DashboardUpcomingInterviewResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"ApiResponsePageDashboardDebriefIncompletedInterviewResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageDashboardDebriefIncompletedInterviewResponse"}},"required":["code","isSuccess","message"]},"DashboardDebriefIncompletedInterviewResponse":{"type":"object","properties":{"interview":{"$ref":"#/components/schemas/InterviewDto"},"passedDays":{"type":"integer","format":"int64"}},"required":["interview","passedDays"]},"PageDashboardDebriefIncompletedInterviewResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/DashboardDebriefIncompletedInterviewResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"ApiResponseDashboardHeadlineResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/DashboardHeadlineResponse"}},"required":["code","isSuccess","message"]},"DashboardHeadlineResponse":{"type":"object","properties":{"headlineType":{"type":"string","enum":["REGISTER_INTERVIEW","PREPARE_INTERVIEW","REVIEW_INTERVIEW","CHECK_INTERVIEW_HISTORY"]},"nickname":{"type":"string"},"upcomingInterviewDday":{"type":"integer","format":"int64"}},"required":["headlineType","nickname"]},"ApiResponseListDashboardCalendarResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/DashboardCalendarResponse"}}},"required":["code","isSuccess","message"]},"DashboardCalendarResponse":{"type":"object","properties":{"date":{"type":"string","format":"date"},"dDay":{"type":"integer","format":"int64"},"interviews":{"type":"array","items":{"$ref":"#/components/schemas/InterviewDto"}}},"required":["dDay","date","interviews"]},"ApiResponsePageCompanyResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageCompanyResponse"}},"required":["code","isSuccess","message"]},"CompanyResponse":{"type":"object","properties":{"companyId":{"type":"integer","format":"int64"},"companyName":{"type":"string"}}},"PageCompanyResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/CompanyResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"ApiResponseTokenReissueResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/TokenReissueResponse"}},"required":["code","isSuccess","message"]},"TokenReissueResponse":{"type":"object","properties":{"isReissueProcessed":{"type":"boolean"},"isNeedSignUp":{"type":"boolean"}},"required":["isNeedSignUp","isReissueProcessed"]},"ApiResponseOAuth2LoginUrlResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/OAuth2LoginUrlResponse"}},"required":["code","isSuccess","message"]},"OAuth2LoginUrlResponse":{"type":"object","properties":{"oAuth2LoginUrl":{"type":"string"}},"required":["oAuth2LoginUrl"]}}}}