:root {
  color: var(--color-gray-800);
  background-color: var(--color-gray-100);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-width: thin;
  scrollbar-color: var(--color-gray-200) transparent;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray-200);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-300);
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
