@import 'tailwindcss';
@import './color.css';
@import './typography.css';
@import './globals.css';
@import './pdf-text-layer.css';

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@keyframes wiggle-x {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}

@utility animate-wiggle-x {
  animation: wiggle-x 1s linear infinite;
}
