@import 'pretendard/dist/web/variable/pretendardvariable.css';
@import 'tailwindcss';

@theme {
  --font-sans: 'Pretendard', 'Pretendard Variable', system-ui, sans-serif;
}

@layer utilities {
  .headline-l-bold {
    font-size: 30px;
    line-height: 46.5px;
    letter-spacing: -0.6px;
    font-weight: 700;
  }
  .headline-l-semibold {
    font-size: 30px;
    line-height: 46.5px;
    letter-spacing: -0.6px;
    font-weight: 600;
  }
  .headline-l-medium {
    font-size: 30px;
    line-height: 46.5px;
    letter-spacing: -0.6px;
    font-weight: 500;
  }

  .headline-m-bold {
    font-size: 28px;
    line-height: 43.4px;
    letter-spacing: -0.56px;
    font-weight: 700;
  }
  .headline-m-semibold {
    font-size: 28px;
    line-height: 43.4px;
    letter-spacing: -0.56px;
    font-weight: 600;
  }
  .headline-m-medium {
    font-size: 28px;
    line-height: 43.4px;
    letter-spacing: -0.56px;
    font-weight: 500;
  }

  .headline-s-bold {
    font-size: 26px;
    line-height: 40.3px;
    letter-spacing: -0.52px;
    font-weight: 700;
  }
  .headline-s-semibold {
    font-size: 26px;
    line-height: 40.3px;
    letter-spacing: -0.52px;
    font-weight: 600;
  }
  .headline-s-medium {
    font-size: 26px;
    line-height: 40.3px;
    letter-spacing: -0.52px;
    font-weight: 500;
  }

  .title-xl-bold {
    font-size: 24px;
    line-height: 37.2px;
    letter-spacing: -0.48px;
    font-weight: 700;
  }
  .title-xl-semibold {
    font-size: 24px;
    line-height: 37.2px;
    letter-spacing: -0.48px;
    font-weight: 600;
  }
  .title-xl-medium {
    font-size: 24px;
    line-height: 37.2px;
    letter-spacing: -0.48px;
    font-weight: 500;
  }

  .title-l-bold {
    font-size: 22px;
    line-height: 34.1px;
    letter-spacing: -0.44px;
    font-weight: 700;
  }
  .title-l-semibold {
    font-size: 22px;
    line-height: 34.1px;
    letter-spacing: -0.44px;
    font-weight: 600;
  }
  .title-l-medium {
    font-size: 22px;
    line-height: 34.1px;
    letter-spacing: -0.44px;
    font-weight: 500;
  }

  .title-m-bold {
    font-size: 20px;
    line-height: 31px;
    letter-spacing: -0.4px;
    font-weight: 700;
  }
  .title-m-semibold {
    font-size: 20px;
    line-height: 31px;
    letter-spacing: -0.4px;
    font-weight: 600;
  }
  .title-m-medium {
    font-size: 20px;
    line-height: 31px;
    letter-spacing: -0.4px;
    font-weight: 500;
  }

  .title-s-bold {
    font-size: 18px;
    line-height: 27.9px;
    letter-spacing: -0.36px;
    font-weight: 700;
  }
  .title-s-semibold {
    font-size: 18px;
    line-height: 27.9px;
    letter-spacing: -0.36px;
    font-weight: 600;
  }
  .title-s-medium {
    font-size: 18px;
    line-height: 27.9px;
    letter-spacing: -0.36px;
    font-weight: 500;
  }

  .body-l-regular {
    font-size: 16px;
    line-height: 24.8px;
    letter-spacing: -0.32px;
    font-weight: 400;
  }
  .body-l-medium {
    font-size: 16px;
    line-height: 24.8px;
    letter-spacing: -0.32px;
    font-weight: 500;
  }
  .body-l-semibold {
    font-size: 16px;
    line-height: 24.8px;
    letter-spacing: -0.32px;
    font-weight: 600;
  }
  .body-l-bold {
    font-size: 16px;
    line-height: 24.8px;
    letter-spacing: -0.32px;
    font-weight: 700;
  }

  .body-m-regular {
    font-size: 15px;
    line-height: 23.25px;
    letter-spacing: -0.3px;
    font-weight: 400;
  }
  .body-m-medium {
    font-size: 15px;
    line-height: 23.25px;
    letter-spacing: -0.3px;
    font-weight: 500;
  }
  .body-m-semibold {
    font-size: 15px;
    line-height: 23.25px;
    letter-spacing: -0.3px;
    font-weight: 600;
  }
  .body-m-bold {
    font-size: 15px;
    line-height: 23.25px;
    letter-spacing: -0.3px;
    font-weight: 700;
  }

  .body-s-regular {
    font-size: 14px;
    line-height: 21.7px;
    letter-spacing: -0.28px;
    font-weight: 400;
  }
  .body-s-medium {
    font-size: 14px;
    line-height: 21.7px;
    letter-spacing: -0.28px;
    font-weight: 500;
  }
  .body-s-semibold {
    font-size: 14px;
    line-height: 21.7px;
    letter-spacing: -0.28px;
    font-weight: 600;
  }
  .body-s-bold {
    font-size: 14px;
    line-height: 21.7px;
    letter-spacing: -0.28px;
    font-weight: 700;
  }

  .caption-l-bold {
    font-size: 13px;
    line-height: 20.15px;
    letter-spacing: -0.26px;
    font-weight: 700;
  }
  .caption-l-semibold {
    font-size: 13px;
    line-height: 20.15px;
    letter-spacing: -0.26px;
    font-weight: 600;
  }
  .caption-l-medium {
    font-size: 13px;
    line-height: 20.15px;
    letter-spacing: -0.26px;
    font-weight: 500;
  }

  .caption-m-bold {
    font-size: 12px;
    line-height: 18.6px;
    letter-spacing: -0.24px;
    font-weight: 700;
  }
  .caption-m-semibold {
    font-size: 12px;
    line-height: 18.6px;
    letter-spacing: -0.24px;
    font-weight: 600;
  }
  .caption-m-medium {
    font-size: 12px;
    line-height: 18.6px;
    letter-spacing: -0.24px;
    font-weight: 500;
  }
}
